<app-ui-form [title]="voiture ? 'Modifier la Voiture' : 'Nouvelle Voiture'" [formGroup]="form"
    [isLoading]="isSubmitting" [errorMessage]="errorMessage" [submitLabel]="voiture ? 'Modifier' : 'Créer'"
    (submitForm)="onSubmit()" (cancel)="onCancel()">

    <div class="space-y-6">
        <app-ui-input label="Nom (Marque/Modèle)" [control]="form.controls.name" [required]="true"
            placeholder="ex: Peugeot 208"></app-ui-input>

        <app-ui-input label="Matricule" [control]="form.controls.matricule" [required]="true"
            placeholder="ex: AA-123-BB"></app-ui-input>

        <app-ui-input label="Couleur" [control]="form.controls.couleur" [required]="true"
            placeholder="ex: Rouge"></app-ui-input>
    </div>

</app-ui-form>