<app-ui-form [title]="establishment ? 'Modifier' : 'Nouvel Établissement'" [formGroup]="form" [isLoading]="isSubmitting"
    [errorMessage]="errorMessage" [submitLabel]="establishment ? 'Modifier' : 'Créer'" (submitForm)="submit()"
    (cancel)="onCancel()">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        <app-ui-input label="Nom de l'établissement" [control]="form.controls.name" [required]="true"></app-ui-input>

        <app-ui-input label="Email" type="email" [control]="form.controls.email"></app-ui-input>
        <app-ui-input label="Téléphone" [control]="form.controls.phone"></app-ui-input>

        <app-ui-input label="Adresse" [control]="form.controls.address"></app-ui-input>


    </div>
</app-ui-form>