<app-ui-form [formErrors]="formErrors" [title]="level ? 'Modifier le Niveau' : 'Nouveau Niveau'" [formGroup]="form" [isLoading]="isSubmitting"
    [errorMessage]="errorMessage" [submitLabel]="level ? 'Modifier' : 'Créer'"
    description="Organisez les niveaux d'études par cycle." (submitForm)="submit()" (cancel)="onCancel()">

    <div class="grid grid-cols-1 gap-6 mb-6">
        <app-ui-select label="Cycle" [control]="form.controls.cycleId" [options]="cycles" [required]="true"
            placeholder="Sélectionner un cycle">
        </app-ui-select>

        <app-ui-input label="Nom du niveau" [control]="form.controls.name" [required]="true"></app-ui-input>
        <app-ui-input label="Abréviation (ex: 6eme)" [control]="form.controls.shortName"
            [required]="true"></app-ui-input>
        <app-ui-input label="Ordre" type="number" [control]="form.controls.order" [required]="true"></app-ui-input>
    </div>
</app-ui-form>