<app-ui-form [formErrors]="formErrors" [title]="cycle ? 'Modifier le Cycle' : 'Nouveau Cycle'" [formGroup]="form" [isLoading]="isSubmitting"
    [errorMessage]="errorMessage" [submitLabel]="cycle ? 'Modifier' : 'Créer'"
    description="Configurez les cycles d'enseignement et leur ordre d'apparition." (submitForm)="submit()"
    (cancel)="onCancel()">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6 mb-6">
        <!-- Nom du Cycle -->
        <app-ui-input label="Nom du cycle" [control]="form.controls.name" [required]="true" 
            placeholder="Ex: Lycée, Enseignement Supérieur..." 
            class="md:col-span-1"></app-ui-input>

        <!-- Code du Cycle -->
        <app-ui-input label="Code" [control]="form.controls.code" [required]="true" 
            placeholder="Ex: LYC" hint="Identifiant unique (3-5 lettres)"
            class="md:col-span-1"></app-ui-input>

        <!-- Ordre -->
        <app-ui-input label="Ordre d'affichage" type="number" [control]="form.controls.order"
            [required]="true" hint="Position dans les listes"
            class="md:col-span-1"></app-ui-input>

        <!-- Toggle Options -->
        <div class="md:col-span-1 mt-6">
            <app-ui-toggle label="Utilise des Filières / Séries" 
                description="Activez ceci si les niveaux de ce cycle nécessitent des spécialités."
                [control]="form.controls.hasOptions">
            </app-ui-toggle>
        </div>

        <!-- Description -->
        <div class="md:col-span-2">
            <app-ui-input label="Description détaillée" type="textarea" [control]="form.controls.description"
                placeholder="Précisez la portée de ce cycle..." 
                [rows]="3"></app-ui-input>
        </div>
    </div>
</app-ui-form>