<app-ui-form [formErrors]="formErrors" [title]="room ? 'Modifier la Salle' : 'Nouvelle Salle'" [formGroup]="form"
    [isLoading]="isSubmitting" [errorMessage]="errorMessage" [submitLabel]="room ? 'Modifier' : 'Créer'"
    description="Gérez les informations et la capacité de cette salle physique." (submitForm)="submit()"
    (cancel)="onCancel()">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6 mb-6">
        <!-- Nom -->
        <app-ui-input label="Nom de la salle" [control]="form.controls.name" [required]="true"
            placeholder="Ex: Salle 101, Laboratoire..." class="md:col-span-1"></app-ui-input>

        <!-- Capacité -->
        <app-ui-input label="Capacité (Élèves)" type="number" [control]="form.controls.capacity" [required]="true"
            placeholder="30" class="md:col-span-1"></app-ui-input>
    </div>
</app-ui-form>
