@media print {
  @page {
    size: 86mm 54mm;
    margin: 0;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 86mm;
    background-color: white;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  /* Fix layout overflowing */
  * {
    box-sizing: border-box;
  }

  .idcard-page.recto-page {
    page-break-after: always;
  }
  .idcard-page.verso-page {
    page-break-after: avoid;
  }
}

.idcard-page {
  width: 86mm;
  height: 54mm;
  background: white;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
