<app-ui-form [title]="evenement ? 'Modifier l\'Événement' : 'Nouvel Événement'" [formGroup]="form"
    [isLoading]="isSubmitting" [errorMessage]="errorMessage" [submitLabel]="evenement ? 'Modifier' : 'Créer'"
    (submitForm)="onSubmit()" (cancel)="onCancel()">

    <div class="space-y-6">
        <app-ui-input label="Nom de l'événement" [control]="form.controls.nom" [required]="true"
            placeholder="ex: Conférence Tech"></app-ui-input>

        <app-ui-input label="Lieu" [control]="form.controls.lieu" [required]="true"
            placeholder="ex: Paris"></app-ui-input>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <app-ui-input label="Date de début" type="date" [control]="form.controls.dateDebut"
                [required]="true"></app-ui-input>

            <app-ui-input label="Date de fin" type="date" [control]="form.controls.dateFin"
                [required]="true"></app-ui-input>
        </div>
    </div>

</app-ui-form>