<app-ui-form
    [title]="isEditMode() ? 'Modifier l\'affectation' : 'Nouvelle Affectation'"
    description="Affectez les enseignants aux classes et matières."
    [formGroup]="form"
    [submitLabel]="isEditMode() ? 'Modifier' : 'Créer'"
    [isLoading]="isSubmitting"
    [errorMessage]="errorMessage"
    (submitForm)="save()"
    (cancel)="cancel.emit()">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
        <!-- Année Scolaire -->
        <app-ui-select label="Année Scolaire" formControlName="academic_year_id" 
            [options]="(years$ | async) || []" bindLabel="name" bindValue="id"
            placeholder="Sélectionner l'année">
        </app-ui-select>

        <!-- Classe -->
        <app-ui-select label="Classe" formControlName="classroom_id" 
            [options]="(classes$ | async) || []" bindLabel="name" bindValue="id"
            placeholder="Sélectionner la classe">
        </app-ui-select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
        <!-- Matière -->
        <app-ui-select label="Matière" formControlName="subject_id" 
            [options]="(subjects$ | async) || []" bindLabel="name" bindValue="id"
            placeholder="Sélectionner la matière">
        </app-ui-select>

        <!-- Enseignant -->
        <app-ui-select label="Enseignant" formControlName="teacher_id" 
            [options]="(teachers$ | async) || []" bindLabel="fullName" bindValue="id"
            placeholder="Sélectionner l'enseignant">
        </app-ui-select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-5">
        <!-- Date Début -->
        <app-ui-input label="Date de début" type="date" formControlName="start_date"></app-ui-input>

        <!-- Date Fin -->
        <app-ui-input label="Date de fin" type="date" formControlName="end_date"></app-ui-input>
    </div>

    <!-- Heures Prévues -->
    <app-ui-input label="Volume Horaire Prévu (Heures)" type="number" formControlName="hours_scheduled"></app-ui-input>

</app-ui-form>
