<app-ui-form [formErrors]="formErrors" [title]="classroom ? 'Modifier la Classe' : 'Nouvelle Classe'" [formGroup]="form"
    [isLoading]="isSubmitting" [errorMessage]="errorMessage" [submitLabel]="classroom ? 'Modifier' : 'Créer'"
    description="Gérez les classes et leur capacité d'accueil." (submitForm)="submit()" (cancel)="onCancel()">

    <div class="grid grid-cols-1 gap-6 mb-6">
        <app-ui-select label="Niveau" [control]="form.controls.levelId" [options]="levelOptions" [required]="true"
            placeholder="Sélectionner un niveau"></app-ui-select>

        <ng-container *ngIf="hasOptions">
            <app-ui-select label="Filière / Option" [control]="form.controls.parentId" [options]="parentOptions"
                placeholder="Sélectionner une filière (Optionnel)" hint="Ex: Informatique, Série D...">
            </app-ui-select>

            <app-ui-select *ngIf="subOptions.length > 0" label="Spécialité" [control]="form.controls.optionId"
                [options]="subOptions" placeholder="Sélectionner une spécialité (Optionnel)"
                hint="Ex: Cyber-sécurité, Réseaux...">
            </app-ui-select>
        </ng-container>

        <app-ui-input label="Nom de la classe" [control]="form.controls.name" [required]="true"
            placeholder="ex: 6ème A ou L1 Informatique"></app-ui-input>

        <app-ui-input label="Capacité (élèves)" type="number" [control]="form.controls.capacity"
            [required]="true"></app-ui-input>
    </div>

</app-ui-form>